---
import HeroSlideshow from "./HeroSlideshow.astro";

interface Props {
  title: string;
  subtitle: string;
  image: string;
  leftImage?: string;
  rightImage?: string;
}

const {
  title,
  subtitle,
  image,
  leftImage,
  rightImage
} = Astro.props;
---

<section
    class="page-hero"
    style={`background-image: linear-gradient(rgba(0,0,0,.70), rgba(0,0,0,.70)), url('${image}')`}
>

    <div class="page-hero-content">

        <div class="hero-title-row">

<div class="hero-side-wrapper">

    <HeroSlideshow
    leftImage={leftImage}
    rightImage={rightImage}
/>

</div>

            <div class="hero-center">

                <h1>{title}</h1>

                <p>{subtitle}</p>

            </div>

<div class="hero-side-wrapper">

    {rightImage && (
        <img
            src={rightImage}
            alt=""
            class="hero-side-image hero-right"
            id="heroRight"
        />
    )}

        </div>

    </div>

</section>